apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: reverse-proxy-sp1-hpa
  namespace: layer8
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: reverse-proxy-sp1
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70