apiVersion: v1
kind: Service
metadata:
  name: telegraf
  namespace: layer8
  labels:
    app: telegraf
    app.kubernetes.io/name: telegraf
    app.kubernetes.io/component: monitoring
spec:
  type: ClusterIP
  ports:
  - port: 4317
    targetPort: 4317
    protocol: TCP
    name: otlp
  - port: 8125
    targetPort: 8125
    protocol: UDP
    name: statsd
  selector:
    app: telegraf
  clusterIP: None
