name: Layer8

services:
  forward-proxy:
    image: dtpthao/forward-proxy:latest
    container_name: forward-proxy
    ports:
      - "6191:6191"
    hostname: fp
    domainname: layer8proxy.net
    env_file:
      - ./forward-proxy/.env
    volumes:
      - ./logs/fp:/var/log/layer8
    restart: on-failure
    stdin_open: true
    tty: true
    networks:
      layer8-network:
        ipv4_address: 10.10.10.101
    depends_on:
      influxdb2:
        condition: service_healthy
    extra_hosts:
      - "rp.layer8.com:10.10.10.102"
      - "auth.layer8.com:10.10.10.103"

  reverse-proxy:
    image: dtpthao/reverse-proxy:latest
    container_name: reverse-proxy
    env_file:
      - ./reverse-proxy/.env
    ports:
      - "6193:6193"
    hostname: rp
    domainname: layer8proxy.net
    volumes:
      - ./logs/rp:/var/log/layer8
    restart: on-failure
    stdin_open: true
    tty: true
    networks:
      layer8-network:
        ipv4_address: 10.10.10.102

  auth-server:
    image: layer8server/auth_image:latest
    container_name: auth-server
    env_file:
      - ./auth-server/.env
    ports:
      - "5001:5001"
    hostname: auth
    domainname: layer8proxy.net
    command: ["./main"]
    depends_on:
      auth-postgres:
        condition: service_healthy
      influxdb2:
        condition: service_healthy
      auth-telegraf:
        condition: service_healthy
    restart: on-failure
    stdin_open: true
    tty: true
    networks:
      layer8-network:
        ipv4_address: 10.10.10.103

  influxdb2:
    container_name: influxdb2
    image: influxdb:2
    restart: always
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb2-data:/var/lib/influxdb2
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=somethingthatyoudontknow
      - DOCKER_INFLUXDB_INIT_ORG=layer8
      - DOCKER_INFLUXDB_INIT_BUCKET=layer8
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=DEFAULT_TOKEN_FOR_TESTING
      - DOCKER_INFLUXDB_INIT_RETENTION=30d
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8086/health" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      layer8-network:
        ipv4_address: 10.10.10.104

  auth-telegraf:
    image: telegraf:alpine
    container_name: auth-telegraf
    restart: always
    volumes:
      - ./auth-server/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    ports:
      - "4317:4317"
    environment:
      - INFLUXDB_URL_TELEGRAF=http://host.docker.internal:8086
      - INFLUXDB_TOKEN=DEFAULT_TOKEN_FOR_TESTING
    extra_hosts:
      - "host.docker.internal:host-gateway"
    healthcheck:
      test: [ "CMD-SHELL", "nc -z localhost 4317" ]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      layer8-network:
        ipv4_address: 10.10.10.105

  auth-postgres:
    container_name: auth-postgres
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=layer8development
      - POSTGRES_PASSWORD=cRACtIeRChYsiNFinuMp
      - POSTGRES_DB=development
    volumes:
      - ./auth-server/pg-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U layer8development" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      layer8-network:
        ipv4_address: 10.10.10.106

  auth-setup:
    image: layer8server/auth_image:latest
    container_name: auth-setup
    environment:
      - DB_SETUP_MIGRATION_PATH=./migrations
    env_file:
      - ./auth-server/.env
    command: [ "./setup", "docker" ]
    depends_on:
      auth-postgres:
        condition: service_healthy
      influxdb2:
        condition: service_healthy
      auth-telegraf:
        condition: service_healthy
    networks:
      layer8-network:
        ipv4_address: 10.10.10.107
    restart: "no"

networks:
  layer8-network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.10.0/24
