apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: layer8
  labels:
    app: postgres
    app.kubernetes.io/name: postgres
    app.kubernetes.io/component: monitoring
spec:
  type: ClusterIP
  ports:
  - port: 5432
    targetPort: 5432
    protocol: TCP
    name: postgres
  selector:
    app: postgres
  clusterIP: None 