apiVersion: v1
kind: ConfigMap
metadata:
  name: telegraf-config
  namespace: layer8
data:
  telegraf.conf: |
    [agent]
      interval = "10s"
      flush_interval = "10s"

    [[outputs.influxdb_v2]]
      urls = ["${INFLUXDB_URL}"]
      token = "${INFLUXDB_TOKEN}"
      organization = "${INFLUXDB_ORG}"
      bucket = "${INFLUXDB_BUCKET}"

    [[inputs.statsd]]
      service_address = ":8125"
      protocol = "udp"

    [[inputs.opentelemetry]]
      service_address = ":4317"