apiVersion: v1
kind: Service
metadata:
  name: auth-server
  namespace: layer8
  labels:
    app: auth-server
spec:
  type: NodePort
  ports:
  - port: 5001
    targetPort: 5001
    protocol: TCP
    name: http
  selector:
    app: auth-server
