apiVersion: v1
kind: Service
metadata:
  name: influxdb
  namespace: layer8
  labels:
    app: influxdb
    app.kubernetes.io/name: influxdb
    app.kubernetes.io/component: monitoring
spec:
  type: ClusterIP
  ports:
  - port: 8086
    targetPort: 8086
    protocol: TCP
    name: http
  selector:
    app: influxdb
