apiVersion: v1
kind: Service
metadata:
  name: auth-server
  namespace: layer8
  labels:
    app: auth-server
spec:
  type: NodePort
  ports:
  - port: 5001
    targetPort: 5001
    nodePort: 30001
    protocol: TCP
    name: http
  - port: 4317
    targetPort: 4317
    protocol: TCP
    name: otlp
  - port: 8125
    targetPort: 8125
    protocol: UDP
    name: statsd
  selector:
    app: auth-server